.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 14px;
}

.inputContainer {
  position: relative;
  width: 100%;
  z-index: 1;
}

.input {
  width: 100%;
  background: var(--tertiary-color-bg);
  color: var(--primary-color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  border: none;
  outline: none;
  border-radius: var(--secondary-radius);
  padding: 0 16px;
  box-sizing: border-box;
  height: 50px;
  transition:
    color 0.2s,
    border-color 0.2s;

  &::placeholder {
    color: var(--primary-color-placeholder);
    opacity: 1;
  }

  @media (min-width: 768px) {
    height: 50px;
  }
}

.withIcon {
  padding-right: 44px;
}

.icon {
  position: absolute;
  right: 16px;
  bottom: 50%;
  transform: translateY(50%);
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.error {
  color: var(--primary-color-error);
}

.errorText {
  color: var(--primary-color-error);
  font-size: 14px;
  margin-top: 8px;
}
