.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 110px;
  background: var(--primary-color-app-bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  @media (max-width: 1024px) {
    padding: 8px 16px;
  }

  .avatarWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .avatarText {
    @media (max-width: 520px) {
      display: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
}
.logoIcon {
  @media (max-width: 1024px) {
    width: 100px;
    height: 30px;
  }
  @media (max-width: 520px) {
    width: 80px;
    height: 20px;
  }
}
