.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 110px;
  @media (max-width: 1024px) {
    padding: 0 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .searchBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 20px;
    }
    .searchWithInput {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 90px;

      .searchHeading {
        font-size: 70px;
        font-weight: bold;
        max-width: 708px;
        line-height: 90%;
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }

    .inputWithLabel {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: fit-content;
      .searchInput {
        background-color: var(--tertiary-color);
      }
      .inputLabel {
        font-size: 22px;
        font-weight: 500;
        @media (max-width: 1024px) {
          font-size: 34px;
          font-weight: bold;
        }
      }
    }
  }
}

.mainIcon {
  height: 660px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.headerBlock {
  width: 100%;
  height: 74px;

  @media (max-width: 1024px) {
    height: 50px;
  }
  .header {
    @media (max-width: 520px) {
      padding: 7px 16px;
    }
  }
}
