.doctorDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 100%;

  @media (max-width: 1024px) {
    gap: 24px;
  }

  @media (max-width: 768px) {
    gap: 20px;
  }

  .doctorAbout {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color-text);

    @media (max-width: 1024px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 32px;
    }

    @media (max-width: 480px) {
      font-size: 24px;
    }
  }

  .doctorDescription {
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-color-text);

    @media (max-width: 1024px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
}
