.starRating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star {
  background: none;
  cursor: default;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, opacity 0.2s ease;





  .starIcon {
    width: 30px;
    height: 30px;
    
    @media (max-width: 768px) {
      width: 18px;
      height: 18px;
    }
  }
}


