.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    height: auto;
    padding-top: 70px;
    gap: 20px;
    .header {
      display: none;
    }
  }
  @media screen and (max-width: 520px) {
    padding-top: 40px;
    .header {
      display: none;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  padding: 0 70px;

  .title {
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color-text);
    margin-bottom: 10px;
  }
  .authIcon {
    display: none;
    width: 520px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    height: 100%;
    width: 520px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin-bottom: 60px;
    .title {
      max-width: 100%;
      width: 100%;
      font-size: 35px;
    }
    .authIconContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .authIcon {
      display: block;
      width: 520px;
      height: 520px;
    }
  }

  @media (max-width: 520px) {
    padding: 0 10px;
    padding-bottom: 40px;
    width: 100vw;

    .authIcon {
      display: block;
      width: 100vw;
      height: 100%;
    }
    .title {
      padding: 0 10px;
      font-size: 30px;
    }
    gap: 0;
  }

  @media (max-width: 380px) {
    font-size: 25px;
    padding: 0 5px 20px 5px;
  }
}

.error {
  color: var(--primary-color-error);
  margin-top: 8px;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 50%;
  width: 100%;

  .button {
  }

  @media (max-width: 1024px) {
    max-width: 100%;
    width: 100%;
    gap: 20px;
  }
  @media (max-width: 520px) {
    gap: 10px;
    margin-top: 20px;
  }
}

.passwordLink {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-color-hint);
  text-align: center;
}

.backButton {
  position: fixed;
  left: 110px;
  top: 70px;
  width: 44px;
  height: 44px;
  background: var(--tertiary-color-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  transition: background 0.2s;
  cursor: pointer;
  border: none;
  outline: none;
  @media (max-width: 1024px) {
    left: 15px;
    top: 20px;
  }
  @media (max-width: 520px) {
    left: 5px;
    top: 10px;
  }
}

.chevronWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
