.doctorPage {
  width: 100%;
  height: 100%;
}
.headerBlock {
  width: 100%;
  height: 74px;

  @media (max-width: 1024px) {
    height: 50px;
  }
  .header {
    @media (max-width: 520px) {
      padding: 7px 16px;
    }
  }
}
