.doctorPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 80px;

  @media (min-width: 769px) {
    padding-bottom: 0;
  }

  &.modalOpen {
    overflow: hidden;
  }
}

.headerBlock {
  width: 100%;
  height: 74px;

  @media (max-width: 1024px) {
    height: 50px;
  }

  .header {
    @media (max-width: 520px) {
      padding: 7px 16px;
    }
  }
}

.doctorBlock {
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;

  @media (max-width: 1024px) {
    max-width: 100%;
    padding: 0 20px;
    gap: 60px;
  }

  @media (max-width: 768px) {
    gap: 40px;
    padding: 0 16px;
  }

  .doctorInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    @media (max-width: 1024px) {
      gap: 60px;
    }

    @media (max-width: 768px) {
      gap: 40px;
    }
  }

  .doctorLineContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;

    @media (max-width: 1024px) {
      gap: 40px;
    }

    @media (max-width: 768px) {
      gap: 30px;
    }

    .doctorLine {
      width: 100%;
      height: 2px;
      background-color: var(--primary-color-bg);
    }

    .appointmentContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      width: 100%;

      @media (max-width: 1024px) {
        gap: 24px;
      }

      @media (max-width: 768px) {
        gap: 20px;
      }

      .appointmentTitle {
        font-size: 48px;
        font-weight: 700;
        color: var(--primary-color-text);

        @media (max-width: 1024px) {
          font-size: 40px;
        }

        @media (max-width: 768px) {
          font-size: 32px;
        }

        @media (max-width: 480px) {
          font-size: 24px;
        }
      }
    }
  }
}
