.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 100px;

  @media (max-width: 1024px) {
    height: auto;
    padding-top: 0;
    gap: 20px;
    .header {
      display: none;
    }
  }
  @media (max-width: 520px) {
    padding-top: 70px;

    .header {
      display: none;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;

  .form {
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .title {
      font-size: 40px;
      font-weight: 700;
      color: var(--primary-color-text);
      margin-bottom: 10px;
    }
  }

  .registrationIcon {
    width: 520px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .registrationIcon {
      width: 520px;
      height: 520px;
    }
  }

  @media (max-width: 520px) {
    padding: 0 20px;
    padding-bottom: 40px;
    .form {
      width: 100%;
      gap: 10px;
    }
    .registrationIcon {
      display: none;
    }
    gap: 0;
  }

  @media (max-width: 380px) {
    padding: 0 5px 20px 5px;
  }

  .privacyPolicy {
    weight: 400;
    font-size: 14px;
    color: var(--primary-color-hint);
    text-align: center;
    .privacyLink {
      color: var(--primary-color-text);
      font-weight: 700;
    }
  }
}

.passwordHint {
  font-size: 14px;
  weight: 400;
  color: var(--primary-color-hint);
  margin-top: 15px;
}

.button {
  margin-top: 30px;
}

.backButton {
  position: fixed;
  left: 110px;
  top: 70px;
  width: 44px;
  height: 44px;
  background: var(--tertiary-color-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  transition: background 0.2s;
  cursor: pointer;
  border: none;
  outline: none;
  @media (max-width: 1024px) {
    top: 20px;
  }
  @media (max-width: 520px) {
    left: 5px;
    top: 10px;
  }
}

.chevronWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
