.clinicInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 100%;

  @media (max-width: 1024px) {
    gap: 24px;
  }

  @media (max-width: 768px) {
    gap: 20px;
  }

  .clinicInfoWithLogo {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 768px) {
      gap: 16px;
    }

    @media (max-width: 480px) {
      gap: 12px;
    }

    .clinicAvatar {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      overflow: hidden;
      background-color: var(--tertiary-color-bg);
      display: flex;
      align-items: center;
      font-size: 16px;
      justify-content: center;

      @media (max-width: 1024px) {
        width: 70px;
        height: 70px;
        font-size: 14px;
      }

      @media (max-width: 768px) {
        width: 60px;
        height: 60px;
        font-size: 12px;
      }

      @media (max-width: 480px) {
        width: 50px;
        height: 50px;
        font-size: 10px;
      }
    }

    .clinicName {
      font-size: 24px;
      font-weight: 400;
      color: var(--primary-color-text);

      @media (max-width: 1024px) {
        font-size: 20px;
      }

      @media (max-width: 768px) {
        font-size: 18px;
      }

      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }

  .clinicAddressContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;

    @media (max-width: 768px) {
      gap: 4px;
    }

    .clinicAddressHeader {
      font-size: 20px;
      font-weight: 600;
      color: var(--primary-color-text);

      @media (max-width: 1024px) {
        font-size: 18px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
      }

      @media (max-width: 480px) {
        font-size: 14px;
      }
    }

    .clinicAddress {
      font-size: 20px;
      font-weight: 400;
      color: var(--primary-color-text);

      @media (max-width: 1024px) {
        font-size: 18px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
      }

      @media (max-width: 480px) {
        font-size: 14px;
      }
    }

    .clinicPhone {
      font-size: 20px;
      font-weight: 400;
      color: var(--tertiary-color-text);

      @media (max-width: 1024px) {
        font-size: 18px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
      }

      @media (max-width: 480px) {
        font-size: 14px;
      }
    }
  }
}
