.aboutService {
  width: 100%;
}

.aboutContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 1024px) {
    gap: 40px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 30px;
    background-color: var(--secondary-color-bg);
    padding: 20px;
    border-radius: 12px;
  }
}

.aboutText {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 768px) {
    flex: none;
    width: 100%;
  }
}

.aboutTitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-color-text);
  margin: 0;
  line-height: 1.2;

  @media (max-width: 1024px) {
    font-size: 2rem;
  }

  @media (max-width: 768px) {
    font-size: 1.75rem;
    color: var(--primary-color-bg);
  }
}

.aboutParagraph {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--primary-color-icon);
  margin: 0;
  font-weight: 400;

  @media (max-width: 1024px) {
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    color: var(--primary-color-bg);
    font-size: 0.95rem;
  }
}

.aboutImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    display: none;
  }

  img {
    max-width: 600px;
    border-radius: 12px;
  }
}
