.footer {
  background-color: var(--secondary-color-bg);
  padding: 60px 110px 20px;
  margin-top: 60px;
  color: var(--primary-color-bg);
  width: 100vw;
  margin-left: calc(-50vw + 50%);

  @media (max-width: 768px) {
    background-color: transparent;
    padding: 40px 20px 20px;
    margin-top: 40px;
  }
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 20px;
  }
}

.brandSection {
  // flex: 1;

  @media (max-width: 768px) {
    display: none;
  }
}

.brandName {
  font-size: 10rem;
  font-weight: 700;
  color: var(--accent-color);
  margin: 0;
  line-height: 1;

  @media (max-width: 1024px) {
    font-size: 3rem;
  }

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.contactsSection {
  // flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  @media (max-width: 768px) {
    align-items: flex-start;
    width: 100%;
  }
}

.contactsTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color-bg);
  margin: 0;
  text-align: left;

  @media (max-width: 768px) {
    color: var(--primary-color-text);
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.contactsDescription {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  max-width: 300px;
  color: var(--primary-color-bg);

  @media (max-width: 768px) {
    text-align: left;
    max-width: none;
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--primary-color-icon);
  }
}

.contactIcons {
  display: flex;
  gap: 16px;
  margin-top: 8px;

  .contactIcon {
    color: var(--primary-color-bg);
    fill: var(--primary-color-bg);
  }

  @media (max-width: 768px) {
    margin-top: 16px;
    .contactIcon {
      color: var(--primary-color-text);
      fill: var(--primary-color-text);
    }
  }
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 1440px;

  @media (max-width: 768px) {
    flex-direction: row;
    gap: 0;
    text-align: left;
    padding-top: 16px;
    border-top: 1px solid var(--accent-color);
  }
}

.privacyPolicy {
  font-size: 0.9rem;
  margin: 0;
  cursor: pointer;
  transition: color 0.2s ease;
  color: var(--primary-color-bg);

  @media (max-width: 768px) {
    color: var(--primary-color-text);
  }
}

.copyright {
  font-size: 0.9rem;
  margin: 0;
  color: var(--primary-color-bg);

  @media (max-width: 768px) {
    color: var(--primary-color-text);
  }
}
