.doctorPhotoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 47px;

  @media (max-width: 1024px) {
    gap: 30px;
  }

  @media (max-width: 768px) {
    gap: 24px;
  }

  .doctorPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .avatar {
    width: 500px;
    height: 500px;
    border-radius: 5%;
    overflow: hidden;

    @media (max-width: 1024px) {
      width: 400px;
      height: 400px;
    }

    @media (max-width: 768px) {
      width: 300px;
      height: 300px;
    }

    @media (max-width: 480px) {
      width: 250px;
      height: 250px;
    }
  }

  .avatarImage {
    width: 500px;
    height: 500px;
    border-radius: 5%;
    object-fit: cover;

    @media (max-width: 1024px) {
      width: 400px;
      height: 400px;
    }

    @media (max-width: 768px) {
      width: 300px;
      height: 300px;
    }

    @media (max-width: 480px) {
      width: 250px;
      height: 250px;
    }
  }

  .doctorNameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    @media (max-width: 1024px) {
      gap: 12px;
    }

    @media (max-width: 768px) {
      gap: 10px;
    }

    .doctorName {
      font-size: 58px;
      font-weight: 700;
      width: 100%;
      text-align: center;
      color: var(--primary-color-text);

      @media (max-width: 1024px) {
        font-size: 48px;
      }

      @media (max-width: 768px) {
        font-size: 36px;
      }

      @media (max-width: 480px) {
        font-size: 28px;
      }
    }

    .doctorSpecializationContainer {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .doctorSpecialization {
      font-size: 16px;
      font-weight: 400;
      color: var(--primary-color-text);
      padding: 8px 16px;
      text-align: center;
      background-color: var(--tertiary-color-bg);
      border-radius: 4px;

      @media (max-width: 768px) {
        font-size: 14px;
        padding: 6px 12px;
      }

      @media (max-width: 480px) {
        font-size: 12px;
        padding: 4px 8px;
      }
    }
  }
}
