.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 110px;
  @media (max-width: 1024px) {
    padding: 0 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    min-height: 100vh;
    @media (max-width: 1024px) {
    }
    @media (max-width: 480px) {
      min-height: auto;
      gap: 20px;
    }
  }
}

.headerBlock {
  width: 100%;
  height: 74px;

  @media (max-width: 1024px) {
    height: 50px;
  }
  .header {
    @media (max-width: 520px) {
      padding: 7px 16px;
    }
  }
  @media (max-width: 480px) {
    margin-bottom: 25px;
  }
}
