.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 110px;
  @media (max-width: 1024px) {
    padding: 0 16px;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .searchWithInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    @media (max-width: 480px) {
      gap: 30px;
    }
    .searchHeading {
      font-size: 58px;
      max-width: 740px;
      font-weight: bold;
      line-height: 90%;
      @media (max-width: 480px) {
        display: none;
      }
    }
    .searchHeadingMobile {
      font-size: 34px;
      font-weight: bold;
      line-height: 90%;
      @media (min-width: 480px) {
        display: none;
      }
    }

    .searchInput {
      height: 70px;
      background-color: var(--tertiary-color);
      @media (max-width: 480px) {
        height: 40px;
      }
    }
    .searchIcon {
      @media (max-width: 480px) {
        width: 18px;
        height: 18px;
      }
    }
    .inputLabel {
      font-size: 22px;
      font-weight: 500;
      @media (max-width: 1024px) {
        font-size: 34px;
        line-height: 90%;
        font-weight: 700;
      }
    }
  }
}

.doctorsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  justify-content: center;
  max-width: 1400px;
}

.headerBlock {
  width: 100%;
  height: 74px;

  @media (max-width: 1024px) {
    height: 50px;
  }
  .header {
    @media (max-width: 520px) {
      padding: 7px 16px;
    }
  }
}
